img{
	width: 100%;
	height: 100%;
}

/*Post Style*/
.post-list{
	background: #eee;
    padding: 20px;
}
.post-item .thumbnail{
	width: 45px;
	height: 45px;
	display: inline-block;
	float: left;
}
.header{
	margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    overflow: auto;
    padding-bottom: 15px;
}
.user-info{
	margin-left: 15px;
	display: inline-block;
	margin-top: 8px;
}
.user-info .user-name{
	font-weight: bold;
}
.user-info .post-time{
	font-size: 14px;
	font-weight: 300;
}
.post-text{
	clear: both;
	color: #666;
}
.stats-detail{
	padding-top: 15px;
	margin-top: 15px;
	border-top: 1px solid #ccc;
	font-size: 14px;
}
.stats-detail .likes{
	margin-right: 15px;
}

